<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TTPS2024_ENTREGABLE1_LevisMarcos</display-name>

  <context-param>
    <param-name>Abonos2Dias</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>Abonos3Dias</param-name>
    <param-value>5</param-value>
  </context-param>
  <filter>
    <display-name>FiltroEntradasAgotadas</display-name>
    <filter-name>FiltroEntradasAgotadas</filter-name>
    <filter-class>FiltroEntradasAgotadas</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroEntradasAgotadas</filter-name>
    <url-pattern>/ImprimeEntrada</url-pattern>
  </filter-mapping>
    <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

</web-app>